<header class="bg-white py-4">
  <div
    class="max-w-6xl mx-auto flex justify-between items-center md:my-0 px-8 my-4"
  >
    <div class="h-left">
      <nz-demo-drawer-basic-right class="md:hidden" />
    </div>
    <a class="ml-4 md:float-left md:order-first" routerLink="/"
      ><img src="" alt="" class="" srcset="./assets/logoHeader.png/ 2x"
    /></a>
    <app-search class="w-[60%] hidden md:block" />
    <div class="h-right flex space-x-4 items-center">
      <app-login />

      <cart-header />
    </div>
  </div>
  <div class=""></div>
</header>
