<div
  class="grid mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 space-y-10 md:space-y-0 my-10 grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8"
>
  <div class="h-32 rounded-lg bg-gray-100">
    <img
      src="https://as2.ftcdn.net/v2/jpg/06/28/34/43/1000_F_628344399_WumSaR5eHet4RWjSpOhT4NxNYsmuEHOn.jpg"
      class="w-full"
      alt=""
    />
  </div>
  <div class="h-32 rounded-lg bg-gray-100">
    <img
      src="https://as2.ftcdn.net/v2/jpg/06/23/90/81/1000_F_623908112_CD00C4oq4lA93xAEnFVoDaU8dFzELblw.jpg"
      class="w-full"
      alt=""
    />
  </div>
  <div class="h-32 rounded-lg bg-gray-100">
    <img
      src="https://as1.ftcdn.net/v2/jpg/06/26/92/72/1000_F_626927285_MCs7N4v2Dq5C8pCHcAgQhE4n4rLoJkEm.jpg"
      class="w-full"
      alt=""
    />
  </div>
</div>
